body {
  background-color: rgba(238, 248, 238, 0.744);
  font-family: Arial, sans-serif;
}

.table {
  margin: 50px auto;
  width: 70%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(216, 226, 218, 0.3);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th {
  font-size: 20px;
  padding: 10px;
  background-color: rgba(9, 235, 58, 0.7);
}

td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

tr:hover {
  background-color: rgba(0, 255, 0, 0.1);
}

button {
  display: block;
  width: 200px;
  padding: 10px;
  font-size: 18px;
  margin: 20px auto;
  background-color: rgba(9, 235, 58, 0.7);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}